@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

body{
   background-color: #FEFCFB;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
}

a{
  color: #042D21;
  text-decoration: none !important;
  text-decoration-color: #042D21 !important;
}

.is-primary {
    background-color: #042D21;
    color: white;
}

.background-principal{
  background-color: #042D21;
}

.background-secundario{
   background-color: #EBE9DA;
}
.separador-head{
    margin-top: 12rem;
}
.separador-project{
    margin-top: 4rem;
    margin-bottom: 8rem !important;
  
}
.color-text-principal{
  color: #042D21;
}
.color-text-secundario{
  color: #EBE9DA;
}
.title-proyecto{
  font-size: 2.3rem;
 
  font-weight: bolder;
}
.resume-proyectos{
  
  font-size: 1.5rem;
  font-weight: bold;
}

.boxy{
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 0.8px;
    border-style: solid;
    border-radius: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: small;
    font-weight: 600;
    letter-spacing: 0.6px;

}

.head-button {
        background-color: #042D21;
        color: white;
        border-radius: 10em;
        font-size: 17px;
        font-weight: 600;
        padding: 0.7em 2em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        box-shadow: 0 0 0 0 rgb(107, 106, 106);
      }
      
      .head-button:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 rgb(97, 97, 97);
      };
      
      .head-button:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 rgb(119, 119, 119);
      };


.text-start{
  text-align: start;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.resume-footer{
  margin-left: 8rem;
  width: 60%;
}

.nav-footer{
  margin-left: 11rem;
}

.pt-own{
  padding-top: 7rem !important;
}
.icon-skill{
  width: 25%;
  opacity: 45%;
}
.project-box-primary{
border-radius: 24px 0px 0px 24px;
-webkit-border-radius: 24px 0px 0px 24px;
-moz-border-radius: 24px 0px 0px 24px;
}
.project-box-secondary{
  border-radius: 0px 24px 24px 0px;
-webkit-border-radius: 0px 24px 24px 0px;
-moz-border-radius: 0px 24px 24px 0px;
}
.project-button {
	background-color: #0c7757;
	border-radius:80px;
	display:inline-block;
	cursor:pointer;	
	
	font-size:19px;
	padding:27px 24px;
	text-decoration:none;
	
}
.project-button:hover {
	background-color:#086146;
}

.nav-footeer-item{
  text-decoration: none !important;
  color: #042D21 !important;
}

.nav-footeer-item:hover{
  text-decoration: none !important;
  color: #08553e !important;
}

.tec{
  color: #000000af;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  opacity: 0.7;
}

.round{
  border-radius: 18rem 0rem 0rem 18rem !important;
  background-color: #ebe9da59;
  padding-bottom: 4rem;
}

.round-2{
  border-radius: 0rem 18rem 18rem 0rem !important;
  background-color: #e0e9e971;
}

.section-present{
 margin: 0rem 0rem 0rem 0rem  !important;
 padding: 0rem 0rem 0rem 0rem !important;
 align-self: center;
}

.text-especial{
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
	color: #042D21;

}

.numero-proyectos{
  font-size: 3rem;
  color: #042D21;
}

.big-icon{
  font-size: 3rem !important;
}

.section-present-1{
  background-image: url('/img/prog1.svg');
  background-position: left;
  background-size: 60%;
  background-repeat: no-repeat;
  margin-bottom:  1.5rem;  
}

.section-present-2{
  background-image: url('/img/dev1.png');
  background-position: right;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-bottom:  1.5rem;  
}
.primary-icons{
  color:  #082e23;
  transition: color 0.5s ease-in;
}
.primary-icons :hover{
  color: #095f45 !important;
  transition: color 0.5s ease-in;
}

@media (prefers-color-scheme: dark) {
  body{
      background-color: rgb(29, 32, 32);
  }
  .round-2{
    background-color: #171818;
  }
  .round{
    background-color: #1c1d1c;
  }
  .tec{
    color: #FEFCFB;
  }
  .background-principal{
    background-color: #272928;
  }
  .background-secundario{
    background-color: #e4e6e5;
  }
  .boxy{
    background-color: #25463c;
  }
  
  .fa-circle-dot{
     color: #929493 !important;
  }
  .text-especial{
    color: #bdbbb0;
  }
}


@media (max-width: 1440px) {
  .text-especial{
    font-size: 1rem;
  }
  #name{
    font-size: 2.2rem;
  }
}

@media (max-width: 1370px) {
  .section-present{
    display: none !important;
  }
  #principal-header{
    width: 100% !important;
    padding: 1rem !important;
  }
  .header-secondary{
    display: none !important;
  }
  #footer-info{
    width: 80% !important;
  }
}

@media(max-width: 1156px){
  .resume-footer{
    width: 100% !important;
    margin-left: 1rem !important;
  }
  
  .nav-footer {
    margin-left: 3rem;
  }
  
}
@media(max-width: 900px){

  .tec{
    font-size: 1.2rem !important;
  }
}
