body{
   background-color: #FEFCFB;
}

a{
  color: #042D21;
  text-decoration: none !important;
  text-decoration-color: #042D21 !important;
}

.is-primary {
    background-color: #042D21;
    color: white;
}

.background-principal{
  background-color: #042D21;
}

.background-secundario{
   background-color: #EBE9DA;
}
.separador-head{
    margin-top: 12rem;
}
.color-text-principal{
  color: #042D21;
}
.color-text-secundario{
  color: #EBE9DA;
}
.title-proyecto{
  font-size: 2.3rem;
 
  font-weight: bolder;
}
.resume-proyectos{
  
  font-size: 1.5rem;
  font-weight: bold;
}

.boxy{
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 0.8px;
    border-style: solid;
    border-radius: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: small;
    font-weight: 600;
    letter-spacing: 0.6px;

}

.head-button {
        background-color: #042D21;
        color: white;
        border-radius: 10em;
        font-size: 17px;
        font-weight: 600;
        padding: 0.7em 2em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        box-shadow: 0 0 0 0 rgb(107, 106, 106);
      }
      
      .head-button:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 rgb(97, 97, 97);
      };
      
      .head-button:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 rgb(119, 119, 119);
      };


.text-start{
  text-align: start;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.resume-footer{
  margin-left: 8rem;
  width: 60%;
}

.nav-footer{
  margin-left: 11rem;
}

.project-button {
	background-color: #0c7757;
	border-radius:80px;
	display:inline-block;
	cursor:pointer;	
	
	font-size:19px;
	padding:27px 24px;
	text-decoration:none;
	
}
.project-button:hover {
	background-color:#086146;
}

.nav-footeer-item{
  text-decoration: none !important;
  color: #042D21 !important;
}

.nav-footeer-item:hover{
  text-decoration: none !important;
  color: #08553e !important;
}

.tec{
  color: #042d21af;
}

.round{
  border-radius: 18rem 0rem 0rem 18rem !important;
  background-color: #EBE9DA;
}

.round-2{
  border-radius: 0rem 18rem 18rem 0rem !important;
  background-color: #E0E9E9;
}

.section-present{
 margin: 0rem 0rem 0rem 0rem  !important;
 padding: 0rem 0rem 0rem 0rem !important;
}

.text-especial{
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
	color: #042D21;

}

.numero-proyectos{
  font-size: 3rem;
  color: #042D21;
}

.big-icon{
  font-size: 3rem !important;
}